@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #360b6b;
  --main-white: #f4f4f4;
  --main-red: #ff4545;
  --main-green: #0eb90e;
  --main-opacity: 0.6;
  --main-transition: all 0.3s;
  --main-padding: 1rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  line-height: 1.3;
}

header {
  background: var(--primary-color);
  color: var(--main-white);
  padding: var(--main-padding);
}

header > * {
  padding: var(--main-padding) 0;
}

header .account {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.account .income,
.account .expense {
  padding: 0.3rem 0;
}

main {
  padding: var(--main-padding);
  margin-top: -10px;
  border-radius: 10px 10px 0 0;
  background: #fff;
}

.chart .toggle > * {
  transition: var(--main-transition);
}

.toggle > *:not(.active) {
  opacity: 0.4;
}

.lists > *:not(.show) {
  display: none;
}

.form {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: var(--main-padding);
  width: 100%;
  display: flex;
  gap: 0.2em;
}

.inputs {
  flex-grow: 1;
}

.inputs input {
  width: 49%;
  height: 100%;
}
/* 
.form input {
  border: none;
  outline: none;
  box-shadow: 0px 0px 2px #ccc;
} */

#expense-add,
#income-add {
  background: url(./icons/plus.png) no-repeat center / cover;
  width: 2rem;
  text-align: center;
  aspect-ratio: 1 / 1;
}

.list {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  box-shadow: 1px 1px 3px #ccc;
  margin-bottom: 0.5rem;
}

.list .entry {
  flex-grow: 1;
}

.edit,
.delete {
  width: 1.2em;
  aspect-ratio: 1 / 1;
}

.edit {
  background: url(./icons/edit.png) no-repeat center / cover !important;
}

.delete {
  background: url(./icons/trash.png) no-repeat center / cover !important;
}

.edit-inputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.edit-inputs button {
  margin: 0;
}

li:has(.edit-inputs) .list {
  display: none;
}

.btn {
  display: inline-block;
  border: none;
  outline: none;
  background: transparent;
  text-decoration: none;
  padding: 0.5em 0.8em;
  cursor: pointer;
}

.btn-primary {
  background: var(--primary-color);
  color: var(--main-white);
}

.btn-sm {
  padding: 0.5rem 0;
  margin-right: 0.5rem;
  cursor: pointer;
}

.text-primary {
  color: var(--primary-color);
}

.text-success {
  color: var(--main-green);
}

.text-alert {
  color: var(--main-red);
}

ul {
  list-style: none;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.confirm {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm-body {
  max-width: 95%;
  background: var(--main-white);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  overflow: hidden;
}

.confirm-header {
  display: flex;
  align-items: center;
  background: var(--primary-color);
  color: var(--main-white);
  padding: 0.4rem;
}

.confirm-close {
  display: inline-block;
  color: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
}

.confirm-header p {
  flex-grow: 2;
}

.confirm-content {
  padding: 0.4rem;
}

.confirm-buttons {
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

.confirm-cancel-button,
.confirm-ok-button {
  border-radius: 5px;
}

.confirm-cancel-button {
  box-shadow: inset 0 0 0 2px var(--primary-color);
  color: var(--primary-color);
}

button,
input {
  font-size: inherit;
}

input {
  border: 0;
  border-bottom: 1px solid #000;
}

article.message {
  z-index: 1200;
  position: absolute;
  width: 95%;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

article.message .message-container {
  position: relative;
  display: flex;
  padding: 1rem;
  gap: 0.3rem;
  border-radius: 5px;
  overflow: hidden;
  justify-content: space-between;
}

article.message .message.container p {
  flex-grow: 1;
}

article.message button {
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  right: 5px;
  color: inherit;
  background: inherit;
  border: none;
}

.bg-danger {
  background: var(--main-red);
  color: var(--main-white);
}

.bg-success {
  background: var(--main-green);
  color: var(--main-white);
}

.text-danger {
  color: var(--main-red);
}

.text-success {
  color: var(--main-green);
}

.text-dark {
  color: #040404;
}
